.login-logo {
    position: absolute;
    bottom: 90%;
    left: 50%;
    transform: translateX(-50%);
}

.brand-title {
    img {
        width: 100%;
        max-width: 185px;
    }
}

/* Custom styling for the profile picture preview */
#profilePictureContainer {
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
    margin: 0 auto;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff; /* Add a border for contrast */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
    margin-right: 10px;
}

#profilePicturePreview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}

#dummyProfilePicture {
    width: 60%;
    height: auto;
    display: none;
}

/* Style the label to look like a button */
#uploadButton {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    background-color: #b1b1b1;
    border: none;
    padding: 2px 13px;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
    display: inline-block;
    width: 100%;
    font-size: 10px;
    text-align: center;
    opacity: .5;
}

#uploadButton:hover {
    background-color: #0056b3; /* Darker color on hover */
}

/* Hide the file input */
#profilePictureInput {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

#userInfo {
    text-align: center;
    margin-top: 20px;
}

/* Style for icons */
.fa-icon {
    margin-right: 5px;
}

.fc-view.fc-month-view.fc-basic-view {
    z-index: 0!important;
}

.bg-custom {
    background-color: #006f74;
}

.full-width {
    width: 100%;
}

.notification-heading {
    font-size: 12px!important;
}

.page-item.active .page-link {
    z-index: 0!important;
}

.media .icon {
    font-size: 2rem;
    margin-right: 20px;
}

.notif-delete-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    &:hover {
        color: rgb(185, 42, 42);
    }
}


.issue-prev {
    height: 150px;
    padding: 10px 0;
    box-shadow: 0 3px 5px 0px;
    text-align: center;
    img {
        height: 100%;
    }
    .upload-btn {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
        font-size: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: .2;
    }
}
